:root, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #ffddff;
    display:flex;
}

.header--left-item {
    margin-left: 2em;
}

.header--center-item {
    width: 80%;
    display: flex;
    justify-content: center;
}

.header--center-item > p{
    margin-left: 1em;
}

.header--right-item {
    margin-left: auto;
    margin-right: 1em;
    display: flex;
}

.header--right-item img{
    margin-right: 1em;
}
