:root, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #ffffff;
    display:flex;
}

.header--left-item {
    margin-left: 5em;
    font-family: Open Sans;
}

.header--center-item {
    width: 80%;
    display: flex;
    justify-content: center;
}

.header--center-item > p{
    margin-left: 1em;
    margin-right: 1em;
font-family: Open Sans;
}

.header--right-item {
    margin-left: auto;
    margin-right: 5em;
    display: flex;
}

.header--right-item img{
    margin-right: 1em;
    margin-top: 1em;
}

.main-page {
    background-image: url("img/photo.jpg");
    background-size: cover;
    background-position: center;
    height: 730;
}

.main-page-content {
    position: relative;
    top: 68%;
    width: 100%;
    text-align: center;
    text-overflow: clip;
}
.main-page-content button{
    width: 171px;
    height: 104px;
    background-color: #ffffff;
    border-radius: 2px;
    font-size: 1.5em;
    border: 0px;
}
.main-page-content p{
    font-size: 4em;
    color: #ffffff;
    margin-top: 0em;
}
.main-page-content-underline{
    background-color: black;
    height: 2px;
    width: 130px;
    margin-left: .6em;
}

.arrow{
    
}
